/* цвет основного текста #757575 */
/* вторичный цвет #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF*/
/* вторичный цвет фона #2F303A */
/* цвет фона секции в index #f5f4fa*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --customers-border: #afb1b8;
  --portfolio-border-color: #eeeeee;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* body */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* none */
.list,
.site-nav,
.auth-nav,
.auth-nav-light,
.feature-list,
.works-list,
.team-list,
.projects-list,
.buttons,
p,
ul,
h1,
h2,
h3,
pre,
a {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
}

.header-item {
  display: flex;
  /* justify-content: space-between; */
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.site-nav .site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.auth-nav {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}

.auth-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav-link,
.site-nav-link-current {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav-link {
  padding-top: 0px;
  padding-bottom: 0px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav-icon {
  margin-right: 10px;
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.auth-nav-light-link:hover,
.auth-nav-light-link:focus {
  color: var(--accent-color);
}

.auth-nav-link:hover .auth-nav-icon {
  fill: var(--accent-color);
}

.site-nav-link-current {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;

  background-color: var(--secondary-bg-color);
  text-align: center;
  /* background-image: url('../images/header.jpg'); */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button primary */

.button-primary {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* section-title */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* feature-list */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list-item {
  width: 270px;
}

.feature-thumb {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--third-bg-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

/* .feature-list-item::before {
  content: '';
  height: 120px;
  display: block;
  background-color: var(--third-bg-color);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list-item:nth-child(1)::before {
  background-image: url(../images/feat1.svg);
  content: ('');
} */

.feature-list-item:nth-child(2)::before {
  background-image: url(../images/feat2.svg);
  content: ('');
}

.feature-list-item:nth-child(3)::before {
  background-image: url(../images/feat3.svg);
  content: ('');
}

.feature-list-item:nth-child(4)::before {
  background-image: url(../images/feat4.svg);
  content: ('');
}

/* .feature-list-item .feature-list .feature-list-item + .feature-list-item {
  margin-left: 30px;
} */

.feature-list-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list-text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

/* Our Works */

.works-our {
  padding-top: 0;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

/* team section */
.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* .team-list .team-list-item + .team-list-item {
  margin-left: 30px;
} второй способ */

.team-list-item {
  background-color: var(--primary-white-color);
  padding-bottom: 30px;
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team-list-text {
  font-size: 16px;
}

/* Customers regular */
.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-thumb {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-white-color);
  border: 1px solid var(--customers-border);
  border-radius: 4px;
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers-thumb:hover,
.customers-thumb:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* .customers-thumb:hover .customers-icon {
  fill: cyan;
} */

/* footer */
.footer-real {
  padding-top: 60px;
  padding-bottom: 50px;

  background-color: var(--secondary-bg-color);
}

.footer-item {
  display: flex;
}

.logo-light {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* адрес */
.city {
  margin-top: 20px;
  margin-right: 0;

  font-family: inherit;
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

/* ссылки в футере */

.auth-nav-light-link {
  margin-top: 9px;
  margin-right: 0;
  display: block;
  color: rgba(255, 255, 255, 0.68);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Joinus */
.joinus {
  width: 206;
  height: 80;
  background-color: tomato;
}

/* Portfolio */
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .buttons-item + .buttons-item {
  margin-left: 8px;
}

/* buttons secondary */
.buttons-secondary {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.buttons-secondary:hover,
.buttons-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
}

/* Projects list */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.projects-list-item {
  border: 1px solid var(--portfolio-border-color);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.projects-list-link {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-content {
  padding: 20px 24px;
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.87;
}
